 
  .rent-btn {
    background: #3563E9;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 3px;
  }
  
  .btn-rent-link {
    color: #fff;
    padding: 10px 24px 10px 24px;
  }
  
  .btn-show {
    color: #fff;
  }