.cars-item__to-order {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
  }
  
  .price-order {
    display: inline-block;
    font-size: 12px;
  }

  ._grey {
    color: #90A3BF;
    font-size: 10px;
  }
  
  